.nav{
    background-color: #333;
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);

}

p{
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-left:20px;
}

ul{
    display: flex;
    list-style: none;
    margin-right:30px;
}

li{
    margin: 0 15px;
    padding:20px;
}

img{
    height: 500px;
    width: 500px;
}